<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UsuarioWSPortBinding" />
                <binding name="MedicinaWSPortBinding" />
                <binding name="ItinerarioWSPortBinding" />
                <binding name="AtencionMedicaWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/LP2MyClinicWebService/ItinerarioWS"
                binding="basicHttpBinding" bindingConfiguration="ItinerarioWSPortBinding"
                contract="ItinerarioWS.ItinerarioWS" name="ItinerarioWSPort" />
            <endpoint address="http://localhost:8080/LP2MyClinicWebService/AtencionMedicaWS"
                binding="basicHttpBinding" bindingConfiguration="AtencionMedicaWSPortBinding"
                contract="AtencionMedicaWS.AtencionMedicaWS" name="AtencionMedicaWSPort" />
            <endpoint address="http://localhost:8080/LP2MyClinicWebService/MedicinaWS"
                binding="basicHttpBinding" bindingConfiguration="MedicinaWSPortBinding"
                contract="MedicinaWS.MedicinaWS" name="MedicinaWSPort" />
            <endpoint address="http://localhost:8080/LP2MyClinicWebService/UsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
                contract="UsuarioWS.UsuarioWS" name="UsuarioWSPort" />
        </client>
    </system.serviceModel>
</configuration>